.containerCarrousel{
    height: 50vh;
    background-color: black;
    padding-top: 5rem !important;
}
.wrapperCarousel{
    width: 100%;
    margin: 1rem 0rem;
    background-color: black;
}
.itemCarousel{
    height: 70vh;
    width: 30%;
    margin-left: -10rem;
}