.wrapper {
    width: 100%;
    background-color: whitesmoke;
    margin-top: 0rem !important;
}


.titleWhoWeAre{
    color: black;
    font-size: medium;
    font-weight: bold;
}

.subtitleWhoWeAre{
    color: gray;
    font-family: 'Lucida Sans';
}

.whoWeAreContent{
    padding: 1rem 1rem;
}